<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>HIFADHI ATM</title>
</head>
<body>
    <div class="logo">
        <span>
            HIFADHI ATM
        </span>
    </div>
    <div class="atm">
        <div class="cash">
            <div class="cash-container">
                here we add our note images
            </div>
            <div class="balance-wrapper">
                <div>notes counter</div>
            </div>
        </div>
        <div class="dialer">
            <div class="display1" id="display1">

            </div>
            <input id="display" class="display" disabled placeholder="HIFADHI">
            <div class="buttons">
                <div>
                    <button value="1">1</button>
                    <button value="2">2</button>
                    <button value="3">3</button>
                </div>
                <div>
                    <button value="4">4</button>
                    <button value="5">5</button>
                    <button value="6">6</button>
                </div>
                <div>
                    <button value="7">7</button>
                    <button value="8">8</button>
                    <button value="9">9</button>
                </div>
                <div>
                    <button value="0">0</button>
                    <button value="00">00</button>
                    <button value="000">000</button>
                </div>
                <div>
                    <button id="delete">delete</button>
                    <button id="enter">enter</button>
                
                </div>
            </div>
        </div>
        <div class="card">
             <div class="bank-card">
        <div class="logo1">
            <div class="img">
            </div>
            <div>strip</div>
           bank logo and magnetic strip
        </div>
        <div class="classified">
            <div>chip</div>
            <div>1234-5678-9012</div>
        </div>
        <div class="user">
            name and expirary date
        </div>
    </div>
        </div>
    </div>    
    <script src="../scipt/script.js"></script>
</body>
<script src="scripts.js"></script>
</html>